{% extends 'index.html' %}

{% block content %}
<div class="container">

<h1>Liste des utilisateurs</h1>
<a href="{% url 'utilisateur_create' %}" class="btn btn-primary mb-3">Add Utilisateur</a>
<div class="row">
    {% for utilisateur in utilisateurs %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ utilisateur.nom }}</h5>
                <p class="card-text">Prénom: {{ utilisateur.prenom }}</p>
                <p class="card-text">Email: {{ utilisateur.email }}</p>
                <p class="card-text">Rôle: {{ utilisateur.role }}</p>
                <div class="d-grid gap-2">
                    <a href="{% url 'utilisateur_detail' utilisateur.id %}" class="btn btn-info">Detail</a>
                    <a href="{% url 'utilisateur_delete' utilisateur.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
