{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h1>Liste des infrastructures</h1>
    <a href="{% url 'infrastructure_add' %}" class="btn btn-primary mb-3">Add Infrastructure</a>
    <div class="row">
        {% for infrastructure in infrastructures %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ infrastructure.nom }}</h5>
                    <p class="card-text">Responsable: {{ infrastructure.responsable.prenom }} {{ infrastructure.responsable.nom }}</p>
                    <div class="d-grid gap-2">
                        <a href="{% url 'infrastructure_detail' infrastructure.id %}" class="btn btn-info">Detail</a>
                        <a href="{% url 'infrastructure_delete' infrastructure.id%}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
