{% extends 'index.html' %}

{% block content %}
    <h1>Add Infrastructure</h1>
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="name">Nom:</label>
            {{ form.nom }}
        </div>
        
        <div class="form-group">
            <label for="responsable">Responsable:</label>
            {{ form.responsable }}
        </div>
        
        <input type="submit" value="Add" class="btn btn-primary">
    </form>
{% endblock %}
