{% extends 'index.html' %}
{% block content %}
<div class="container">
  <h1>Liste des machines</h1>
  <a href="{% url 'machine_add' %}" class="btn btn-primary mb-3">Ajouter une machine</a>
  <div class="card">
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Utilisateur</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for machine in machines %}
      <tr>
        <td>{{ machine.nom }}</td>
        <td>{{ machine.user }}</td>
        <td>
          <a href="{% url 'machine_detail' machine.id %}" class="btn btn-sm btn-info">Détails</a>
          <a href="{% url 'machine_delete' machine.id %}" class="btn btn-sm btn-danger">Supprimer</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</div>
{% endblock %}
