{% extends 'index.html' %}
{% block content %}
<div class="container">
  <h2>Ajouter une machine</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="nom" class="form-label">Nom:</label>
      {{ form.nom }}
        </div>
    <div class="mb-3">
      <label for="maintenanceDate" class="form-label">Date de maintenance:</label>
      {{ form.maintenanceDate }}
    </div>
    <div class="mb-3">
      <label for="ip" class="form-label">Ip:</label>
      {{ form.ip }}
    </div>
    <div class="mb-3">
      <label for="mach" class="form-label">Type de machine:</label>
      {{ form.mach }}
    </div>
    <div class="mb-3">
      <label for="user" class="form-label">Utilisateur:</label>
         {{ form.user }}
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>
{% endblock %}